extends layout

block content
	div(class="content")
	script(type="text/javascript", src="http://mbostock.github.com/d3/d3.v2.js")
	script(src="data/embeddedData.json")
	script(type="text/javascript", src="js/scatterchart.js")